In [1]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt

import scipy.stats
from scipy import stats, optimize
from scipy.stats import genextreme

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler
sn.set(rc={'figure.figsize':(31, 14)})
%matplotlib notebook

In [2]:
data = pd.read_csv('data-1.csv')
#data = pd.read_csv('combine_partial_lag_0.csv')
#data = pd.read_csv('combine_partial_NoLag-1.csv')
data

,Dp,YEAR,MO,DY,HR,MN,Hs,Tp,Ta,Temp,lag,time_sin,time_sin_no_year,season
0,68,2012,4,8,20,23,1.01,11.11,5.75,13.5,73,19.513864,-1.287309e-12,2
1,73,2012,4,8,20,53,0.99,9.88,6.01,13.2,68,19.671924,4.035736e-11,2
2,68,2012,4,8,21,23,0.97,9.88,5.71,13.2,73,19.829984,2.379437e-11,2
3,69,2012,4,8,21,53,0.92,10.53,5.52,13.2,68,19.988044,7.231371e-12,2
4,62,2012,4,8,22,23,0.92,11.11,5.34,13.1,69,20.146104,-9.331622e-12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88051,359,2017,12,31,21,21,2.24,5.56,5.00,10.7,13,-3.454517,2.393052e-11,4
88052,0,2017,12,31,21,51,2.21,5.88,5.00,10.7,359,-3.296457,-5.084013e-11,4
88053,3,2017,12,31,22,21,2.12,5.88,5.07,10.9,0,-3.138397,-9.195465e-12,4
88054,0,2017,12,31,22,51,2.46,6.25,5.21,11.0,3,-2.980337,-8.396612e-11,4
88055,13,2017,12,31,23,21,2.24,6.67,5.09,11.0,0,-2.822277,-4.232145e-11,4

In [3]:
data

,Dp,YEAR,MO,DY,HR,MN,Hs,Tp,Ta,Temp,lag,time_sin,time_sin_no_year,season
0,68,2012,4,8,20,23,1.01,11.11,5.75,13.5,73,19.513864,-1.287309e-12,2
1,73,2012,4,8,20,53,0.99,9.88,6.01,13.2,68,19.671924,4.035736e-11,2
2,68,2012,4,8,21,23,0.97,9.88,5.71,13.2,73,19.829984,2.379437e-11,2
3,69,2012,4,8,21,53,0.92,10.53,5.52,13.2,68,19.988044,7.231371e-12,2
4,62,2012,4,8,22,23,0.92,11.11,5.34,13.1,69,20.146104,-9.331622e-12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88051,359,2017,12,31,21,21,2.24,5.56,5.00,10.7,13,-3.454517,2.393052e-11,4
88052,0,2017,12,31,21,51,2.21,5.88,5.00,10.7,359,-3.296457,-5.084013e-11,4
88053,3,2017,12,31,22,21,2.12,5.88,5.07,10.9,0,-3.138397,-9.195465e-12,4
88054,0,2017,12,31,22,51,2.46,6.25,5.21,11.0,3,-2.980337,-8.396612e-11,4
88055,13,2017,12,31,23,21,2.24,6.67,5.09,11.0,0,-2.822277,-4.232145e-11,4

In [5]:
data_values = data.values
features = data_values[:,13:]
values = data_values[:,0:12]

In [5]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100,
       subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
       min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None,
       init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=None, 
       warm_start=False, presort='auto', validation_fraction=0.1, tol=0.0001)

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

clf2 = RandomForestRegressor(n_estimators=100, criterion='mse', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [7]:
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score
# arr_r2 = []

# for i in range(10):
    
#     X_train, X_test, Y_train, Y_test = train_test_split(features, values,test_size=0.3)
#     clf.fit(X_train, Y_train, sample_weight=None)
#     predict_Y = clf.predict(X_test)
#     arr_r2.append(r2_score(Y_test, predict_Y))
    

# arr_r2
# np.mean(arr_r2)

In [8]:
clf.fit(features, values, sample_weight=None)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [9]:
#clf2.fit(features, values, sample_weight=None)

In [10]:
test_data = pd.read_csv('data-2.csv')
#test_data = pd.read_csv('combine_partial_lag_1.csv')
#test_data = pd.read_csv('combine_partial_NoLag-2.csv')
#test_data = test_data.head(500)

In [11]:
test_data

,Dp,YEAR,MO,DY,HR,MN,Hs,Tp,Ta,Temp,lag,time_sin,time_sin_no_year,season
0,68,2012,4,8,20,23,1.01,11.11,5.75,13.5,73,19.513864,-1.287309e-12,2
1,73,2012,4,8,20,53,0.99,9.88,6.01,13.2,68,19.671924,4.035736e-11,2
2,68,2012,4,8,21,23,0.97,9.88,5.71,13.2,73,19.829984,2.379437e-11,2
3,69,2012,4,8,21,53,0.92,10.53,5.52,13.2,68,19.988044,7.231371e-12,2
4,62,2012,4,8,22,23,0.92,11.11,5.34,13.1,69,20.146104,-9.331622e-12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32582,20,2019,11,15,19,19,1.66,5.26,4.62,17.5,20,1.918922,-3.859677e-11,4
32583,38,2019,11,15,19,49,1.75,5.56,4.83,17.5,20,2.076982,3.047896e-12,4
32584,40,2019,11,15,20,19,1.85,5.56,4.90,17.5,38,2.235042,-1.351510e-11,4
32585,14,2019,11,15,20,49,1.98,5.56,4.92,17.5,40,2.393102,-3.007809e-11,4
32586,26,2019,11,15,21,19,2.08,5.56,5.11,17.6,14,2.551162,1.156658e-11,4

In [12]:
test_data_values = test_data.values
test_features = test_data_values[:,1:]
test_values = test_data_values[:,0]

In [13]:
pred1 = clf.predict(test_features)

In [18]:
len(pred1)

32587

In [14]:
#pred2 = clf2.predict(test_features)

In [15]:
from sklearn.metrics import r2_score
r2_score(test_values, pred1)

0.6985648776018133

In [16]:
# from sklearn.metrics import r2_score
# r2_score(test_values, pred2)