In [1]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt

import scipy.stats
from scipy import stats, optimize
from scipy.stats import genextreme

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler

sn.set(rc={'figure.figsize':(21, 9)})
%matplotlib notebook

In [2]:
dataL = pd.read_csv('d1_L95.csv')
#dataL = pd.read_csv('data1_L95.csv')
dataL.drop(dataL.columns[[0]], axis=1, inplace=True)
dataL

,Dp,YEAR,MO,DY,HR,MN,Hs,Tp,Ta,Temp,lag,time_sin,time_sin_no_year,season
0,68,2012,4,8,20,23,1.01,11.11,5.75,13.5,73,19.513864,-1.287309e-12,2
1,73,2012,4,8,20,53,0.99,9.88,6.01,13.2,68,19.671924,4.035736e-11,2
2,68,2012,4,8,21,23,0.97,9.88,5.71,13.2,73,19.829984,2.379437e-11,2
3,69,2012,4,8,21,53,0.92,10.53,5.52,13.2,68,19.988044,7.231371e-12,2
4,62,2012,4,8,22,23,0.92,11.11,5.34,13.1,69,20.146104,-9.331622e-12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85640,13,2017,12,31,20,51,1.95,6.25,4.82,10.7,19,-3.612577,-1.771414e-11,4
85641,0,2017,12,31,21,51,2.21,5.88,5.00,10.7,359,-3.296457,-5.084013e-11,4
85642,3,2017,12,31,22,21,2.12,5.88,5.07,10.9,0,-3.138397,-9.195465e-12,4
85643,0,2017,12,31,22,51,2.46,6.25,5.21,11.0,3,-2.980337,-8.396612e-11,4
85644,13,2017,12,31,23,21,2.24,6.67,5.09,11.0,0,-2.822277,-4.232145e-11,4

In [3]:
dataL_values = dataL.values
featuresL = dataL_values[:,1:]
valuesL = dataL_values[:,0]

In [4]:
dataG = pd.read_csv('d1_G95.csv')
#dataG = pd.read_csv('data1_G95.csv')
dataG.drop(dataG.columns[[0]], axis=1, inplace=True)
dataG

,Dp,YEAR,MO,DY,HR,MN,Hs,Tp,Ta,Temp,lag,time_sin,time_sin_no_year,season
0,308,2012,4,10,8,23,0.90,2.78,3.45,12.9,177,1.091861,2.853803e-11,2
1,338,2012,4,10,8,53,0.96,3.03,3.47,12.8,308,1.249921,1.197504e-11,2
2,345,2012,4,10,9,23,0.89,3.57,3.57,12.8,338,1.407981,-4.587958e-12,2
3,353,2012,4,10,9,53,0.92,3.57,3.67,12.8,345,1.566041,3.705671e-11,2
4,353,2012,4,11,6,53,1.35,4.17,3.93,13.1,176,8.204560,3.990291e-11,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,353,2017,12,31,7,51,1.74,5.26,4.48,11.6,355,-0.271556,-5.273760e-11,4
2407,349,2017,12,31,8,21,1.87,5.56,4.54,11.6,353,-0.113496,-1.109293e-11,4
2408,356,2017,12,31,8,51,2.05,5.88,4.84,11.6,349,0.044564,3.055174e-11,4
2409,357,2017,12,31,9,21,2.36,6.25,5.13,11.5,356,0.202624,-4.421892e-11,4
2410,359,2017,12,31,21,21,2.24,5.56,5.00,10.7,13,-3.454517,2.393052e-11,4

In [5]:
dataG_values = dataG.values
featuresG = dataG_values[:,1:]
valuesG = dataG_values[:,0]

In [6]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100,
       subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
       min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None,
       init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=None, 
       warm_start=False, presort='auto', validation_fraction=0.1, tol=0.0001)

clf2 = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100,
       subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
       min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None,
       init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=None, 
       warm_start=False, presort='auto', validation_fraction=0.1, tol=0.0001)

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
clf1 = RandomForestRegressor(n_estimators=100, criterion='mse', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False)
clf3 = RandomForestRegressor(n_estimators=100, criterion='mse', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [8]:
clf.fit(featuresL, valuesL, sample_weight=None)
clf2.fit(featuresG, valuesG, sample_weight=None)

clf1.fit(featuresL, valuesL, sample_weight=None)
clf3.fit(featuresG, valuesG, sample_weight=None)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [9]:
test_dataL = pd.read_csv('d2_L95.csv')
#test_dataL = pd.read_csv('data2_L95.csv')
test_dataL.drop(test_dataL.columns[[0]], axis=1, inplace=True)
test_dataL

,Dp,YEAR,MO,DY,HR,MN,Hs,Tp,Ta,Temp,lag,time_sin,time_sin_no_year,season
0,68,2012,4,8,20,23,1.01,11.11,5.75,13.5,73,19.513864,-1.287309e-12,2
1,73,2012,4,8,20,53,0.99,9.88,6.01,13.2,68,19.671924,4.035736e-11,2
2,68,2012,4,8,21,23,0.97,9.88,5.71,13.2,73,19.829984,2.379437e-11,2
3,69,2012,4,8,21,53,0.92,10.53,5.52,13.2,68,19.988044,7.231371e-12,2
4,62,2012,4,8,22,23,0.92,11.11,5.34,13.1,69,20.146104,-9.331622e-12,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31871,20,2019,11,15,19,19,1.66,5.26,4.62,17.5,20,1.918922,-3.859677e-11,4
31872,38,2019,11,15,19,49,1.75,5.56,4.83,17.5,20,2.076982,3.047896e-12,4
31873,40,2019,11,15,20,19,1.85,5.56,4.90,17.5,38,2.235042,-1.351510e-11,4
31874,14,2019,11,15,20,49,1.98,5.56,4.92,17.5,40,2.393102,-3.007809e-11,4
31875,26,2019,11,15,21,19,2.08,5.56,5.11,17.6,14,2.551162,1.156658e-11,4

In [10]:
test_dataG = pd.read_csv('d2_G95.csv')
#test_dataG = pd.read_csv('data2_G95.csv')
test_dataG.drop(test_dataG.columns[[0]], axis=1, inplace=True)
test_dataG

,Dp,YEAR,MO,DY,HR,MN,Hs,Tp,Ta,Temp,lag,time_sin,time_sin_no_year,season
0,357,2018,1,1,0,51,2.41,6.25,5.23,11.0,9,-1.270423,-1.519385e-11,1
1,359,2018,1,1,1,21,2.49,6.25,5.24,10.9,357,-1.112363,2.645082e-11,1
2,359,2018,1,1,2,21,2.28,6.67,5.18,10.9,0,-0.796243,-6.675171e-12,1
3,352,2018,1,3,22,21,1.37,4.55,4.09,8.2,12,-9.102407,6.906413e-11,1
4,355,2018,1,3,22,51,1.65,4.76,4.23,8.1,352,-8.944347,-5.706522e-12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,339,2019,11,15,14,49,1.62,5.26,4.61,17.6,342,0.496382,-5.945150e-12,4
707,350,2019,11,15,15,19,1.47,5.26,4.53,17.6,339,0.654442,-2.250814e-11,4
708,355,2019,11,15,15,49,1.50,5.26,4.60,17.6,350,0.812502,-3.907114e-11,4
709,353,2019,11,15,16,19,1.50,5.26,4.41,17.6,355,0.970562,2.573530e-12,4
710,357,2019,11,15,17,19,1.52,5.26,4.55,17.6,10,1.286682,-3.055246e-11,4

In [11]:
test_dataL_values = test_dataL.values
test_featuresL = test_dataL_values[:,1:]
test_valuesL = test_dataL_values[:,0]

test_dataG_values = test_dataG.values
test_featuresG = test_dataG_values[:,1:]
test_valuesG = test_dataG_values[:,0]

In [12]:
pred_L_GBR = clf.predict(test_featuresL)
pred_G_GBR = clf2.predict(test_featuresG)

pred_L_RFR = clf1.predict(test_featuresL)
pred_G_RFR = clf3.predict(test_featuresG)

In [13]:
from sklearn.metrics import r2_score
# r2_score(test_valuesL, pred_L_GBR)
# r2_score(test_valuesG, pred_G_GBR)
# r2_score(test_valuesL, pred_L_RFR)
# r2_score(test_valuesG, pred_G_RFR)

In [14]:
GT = np.append(test_valuesL,test_valuesG)
pred_GBR = np.append(pred_L_GBR, pred_G_GBR)
pred_RFR = np.append(pred_L_RFR, pred_G_RFR)

In [15]:
r2_score(GT, pred_GBR)

0.9229932918599701

In [16]:
r2_score(GT, pred_RFR)

0.9143426988100523