In [1]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt

import scipy.stats
from scipy import stats, optimize
from scipy.stats import genextreme

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler

sn.set(rc={'figure.figsize':(11, 4)})
%matplotlib notebook

In [2]:
data1 = pd.read_csv('cs1_G95.csv')

In [3]:
from datetime import date

In [4]:
data1 = data1.assign(Date=pd.to_datetime(data1[['year', 'month','day']]))

In [5]:
#data1

In [6]:
data1.drop(data1.columns[[0,2,3,4,5,6]], axis=1, inplace=True)

In [7]:
data1 = data1.set_index('Date')

In [8]:
data1

            runoff_obs  precip  tmax  tmin
Date
2003-05-30        20.0    0.00  88.6  62.8
2003-05-31        24.0    0.00  86.5  54.5
2003-06-01        24.0    0.00  82.9  61.0
2003-06-02        23.0    0.00  78.2  51.9
2003-06-03        23.0    0.00  83.9  48.3
...                ...     ...   ...   ...
2011-07-29        25.0    0.00  82.4  55.2
2011-07-30        24.0    0.07  85.0  59.1
2011-07-31        24.0    0.14  79.3  59.7
2011-08-01        22.0    0.11  73.7  56.0
2011-08-02        22.0    0.20  77.5  53.0

[188 rows x 4 columns]

In [9]:
data1_values = data1.values
features1 = data1_values[:,1:]
values1 = data1_values[:,0]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
#x_train, x_test, y_train, y_test = train_test_split(features1, values1,test_size=0.3)

In [12]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100,
       subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
       min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None,
       init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=None, 
       warm_start=False, presort='auto', validation_fraction=0.1, tol=0.0001)

In [13]:
#clf.fit(x_train, y_train, sample_weight=None)

In [14]:
#predict_y = clf.predict(x_test)

In [15]:
from sklearn.metrics import r2_score

for i in range(10):
    
    x_train, x_test, y_train, y_test = train_test_split(features1, values1,test_size=0.3)
    clf.fit(x_train, y_train, sample_weight=None)

In [16]:
predict_y = clf.predict(x_test)

In [17]:
#predict_y

array([ 39.74195306,  31.93999014,  31.06954776,  56.59152688,
        35.38761363,  58.66370999,  86.40425177,  35.86575094,
        28.70147045,  41.34642037,  46.87866071,  79.50326463,
        24.15261838,  53.14076863,  65.50918656,   8.27801417,
        35.77493292, 105.56675833,  39.24230651,  35.89980512,
        31.78039872,  34.62319425,  32.49355562,  32.49355562,
        36.04017376,  32.56854807,  36.08458663,  43.31171058,
        53.61787391,  89.95030836,  21.62916236,  42.54512801,
        41.08111179,  37.32474996,  46.04267816,  57.79808693,
        33.58704444,  54.4372101 ,  45.86798168,  69.84321099,
        27.61743191,  37.84018727,  32.636709  ,  31.93999014,
        35.07193578,  40.83157579,  35.11755605,  50.79606769,
        25.77224022,  34.81234749,  50.63335276,  33.01100028,
        33.02942253,  30.72472513,  39.96644294,  80.54029001,
        41.01334827])