In [1]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt

import scipy.stats
from scipy import stats, optimize
from scipy.stats import genextreme

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler

sn.set(rc={'figure.figsize':(11, 4)})
%matplotlib notebook
%run oneG.ipynb

In [2]:
data = pd.read_csv('cs1_L95.csv')

In [3]:
data

,Unnamed: 0,runoff_obs,basin_cfs_pred,Id,year,month,day,precip,tmax,tmin
0,0,2.7,3.890482,1,2002,10,1,0.13,57.4,34.6
1,1,2.7,3.041588,2,2002,10,2,0.97,38.4,29.7
2,2,2.8,2.796749,3,2002,10,3,0.04,41.2,31.7
3,3,2.8,2.600715,4,2002,10,4,0.00,52.9,34.0
4,4,2.6,2.439560,5,2002,10,5,0.00,50.5,34.8
...,...,...,...,...,...,...,...,...,...,...
3460,3648,4.4,5.014700,3649,2012,9,26,0.00,59.2,41.0
3461,3649,4.3,4.979207,3650,2012,9,27,0.00,64.1,43.2
3462,3650,4.2,5.001390,3651,2012,9,28,0.00,68.0,46.2
3463,3651,4.2,5.114594,3652,2012,9,29,0.00,69.8,50.9
3464,3652,4.1,5.269021,3653,2012,9,30,0.00,72.8,52.0

In [3]:
from datetime import date

In [4]:
data = data.assign(Date=pd.to_datetime(data[['year', 'month','day']]))

In [5]:
data.drop(data.columns[[0,2,3,4,5,6]], axis=1, inplace=True)

In [6]:
data = data.set_index('Date')

In [7]:
data

            runoff_obs  precip  tmax  tmin
Date
2002-10-01         2.7    0.13  57.4  34.6
2002-10-02         2.7    0.97  38.4  29.7
2002-10-03         2.8    0.04  41.2  31.7
2002-10-04         2.8    0.00  52.9  34.0
2002-10-05         2.6    0.00  50.5  34.8
...                ...     ...   ...   ...
2012-09-26         4.4    0.00  59.2  41.0
2012-09-27         4.3    0.00  64.1  43.2
2012-09-28         4.2    0.00  68.0  46.2
2012-09-29         4.2    0.00  69.8  50.9
2012-09-30         4.1    0.00  72.8  52.0

[3465 rows x 4 columns]

In [8]:
data_values = data.values
features = data_values[:,1:]
values = data_values[:,0]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
#X_train, X_test, Y_train, Y_test = train_test_split(features, values,test_size=0.3)

In [11]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100,
       subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
       min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None,
       init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=None, 
       warm_start=False, presort='auto', validation_fraction=0.1, tol=0.0001)

In [12]:
#clf.fit(X_train, Y_train, sample_weight=None)

In [13]:
# predict_Y = clf.predict(X_test)

In [14]:
# predict_Yy = np.concatenate((predict_Y, predict_y))

In [15]:
# predict_Yy

In [16]:
# Yy_test = np.concatenate((Y_test, y_test))

In [17]:
# Yy_test

In [18]:
# from sklearn.metrics import r2_score
# r2_score(Yy_test, predict_Yy)

In [19]:
from sklearn.metrics import r2_score
arr_r2 = []

for i in range(10):
    
    X_train, X_test, Y_train, Y_test = train_test_split(features, values,test_size=0.3)
    clf.fit(X_train, Y_train, sample_weight=None)
    predict_Y = clf.predict(X_test)
    predict_Yy = np.concatenate((predict_Y, predict_y))
    Yy_test = np.concatenate((Y_test, y_test))
    
    arr_r2.append(r2_score(Yy_test, predict_Yy))

In [20]:
arr_r2

[0.6551410224630331,
 0.661404246010478,
 0.6575389589827312,
 0.6560774523457437,
 0.6514495161920073,
 0.6527360543675713,
 0.6487703296655594,
 0.6542902598064413,
 0.6552403733652499,
 0.6575648366086462]

In [21]:
np.mean(arr_r2)

0.6550213049807462