In [ ]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt

import scipy.stats
from scipy import stats, optimize
from scipy.stats import genextreme

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler

sn.set(rc={'figure.figsize':(11, 4)})
%matplotlib notebook

In [ ]:
import algImp

In [ ]:
data = pd.read_csv("study_case1_prms_input.csv")

In [ ]:
df = data['runoff_obs']

In [ ]:
x = df.values

In [6]:
data_L95 = data[(data.runoff_obs <= 19.781991125794754)]   #threshold value 95 th percentile

In [7]:
data_L95

      runoff_obs  basin_cfs_pred    Id  year  month  day  precip  tmax  tmin
0            2.7        3.890482     1  2002     10    1    0.13  57.4  34.6
1            2.7        3.041588     2  2002     10    2    0.97  38.4  29.7
2            2.8        2.796749     3  2002     10    3    0.04  41.2  31.7
3            2.8        2.600715     4  2002     10    4    0.00  52.9  34.0
4            2.6        2.439560     5  2002     10    5    0.00  50.5  34.8
...          ...             ...   ...   ...    ...  ...     ...   ...   ...
3648         4.4        5.014700  3649  2012      9   26    0.00  59.2  41.0
3649         4.3        4.979207  3650  2012      9   27    0.00  64.1  43.2
3650         4.2        5.001390  3651  2012      9   28    0.00  68.0  46.2
3651         4.2        5.114594  3652  2012      9   29    0.00  69.8  50.9
3652         4.1        5.269021  3653  2012      9   30    0.00  72.8  52.0

[3465 rows x 9 columns]

In [8]:
data_G95 = data[(data.runoff_obs > 19.781991125794754)]  #threshold value 95th percentile

In [9]:
data_G95

      runoff_obs  basin_cfs_pred    Id  year  month  day  precip  tmax  tmin
241         20.0       18.201541   242  2003      5   30    0.00  88.6  62.8
242         24.0       17.545305   243  2003      5   31    0.00  86.5  54.5
243         24.0       16.555078   244  2003      6    1    0.00  82.9  61.0
244         23.0       16.125084   245  2003      6    2    0.00  78.2  51.9
245         23.0       15.996294   246  2003      6    3    0.00  83.9  48.3
...          ...             ...   ...   ...    ...  ...     ...   ...   ...
3223        25.0       22.454396  3224  2011      7   29    0.00  82.4  55.2
3224        24.0       23.239589  3225  2011      7   30    0.07  85.0  59.1
3225        24.0       26.044618  3226  2011      7   31    0.14  79.3  59.7
3226        22.0       22.401541  3227  2011      8    1    0.11  73.7  56.0
3227        22.0       26.503334  3228  2011      8    2    0.20  77.5  53.0

[188 rows x 9 columns]

In [28]:
data_L95.to_csv("cs1_L95.csv")

In [29]:
data_G95.to_csv("cs1_G95.csv")