In [104]:
import math
import numpy as np
import pandas as pd
import scipy
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt

import scipy.stats
from scipy import stats, optimize
from scipy.stats import genextreme

from sklearn import svm
from sklearn.preprocessing import MinMaxScaler

sn.set(rc={'figure.figsize':(11, 4)})
%matplotlib notebook

In [105]:
train_data = pd.read_csv('train.csv')

In [106]:
test_data = pd.read_csv('test.csv')
target_values = (test_data['DP(deg)']).values

In [107]:
from datetime import date
train_data = train_data.assign(Date=pd.to_datetime(train_data[['YEAR', 'MO', 'DY', 'HR', 'MN']].rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day', 'HR': 'hour', 'MN': 'minute'})))

In [108]:
train_data = train_data.set_index('Date')

In [109]:
train_data.drop(train_data.columns[[0,1,2,3,4,10]], axis=1, inplace=True)

In [110]:
train_data = train_data[['DP(deg)', 'HS(m)', 'TP(sec)', 'Ta(sec)', 'Temp(Sfc(c))']]
train_data.to_csv("training.csv")

In [111]:
data_values = train_data.values
features = data_values[:,1:]
values = data_values[:,0]

In [112]:
from sklearn.ensemble import GradientBoostingRegressor
clf = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100,
       subsample=1.0, criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
       min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0, min_impurity_split=None,
       init=None, random_state=None, max_features=None, alpha=0.9, verbose=0, max_leaf_nodes=None, 
       warm_start=False, presort='auto', validation_fraction=0.1, tol=0.0001)

In [113]:
clf.fit(features, values, sample_weight=None)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='auto',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [114]:
from datetime import date
test_data = test_data.assign(Date=pd.to_datetime(test_data[['YEAR', 'MO', 'DY', 'HR', 'MN']].rename(columns={'YEAR': 'year', 'MO': 'month', 'DY': 'day', 'HR': 'hour', 'MN': 'minute'})))

In [115]:
test_data.drop(test_data.columns[[0,1,2,3,4,10]], axis=1, inplace=True)

In [116]:
test_data

       HS(m)  TP(sec)  DP(deg)  Ta(sec)  Temp(Sfc(c))                Date
0       2.30     6.25        9     5.16          11.0 2018-01-01 00:21:00
1       2.41     6.25      357     5.23          11.0 2018-01-01 00:51:00
2       2.49     6.25      359     5.24          10.9 2018-01-01 01:21:00
3       2.12     6.25        0     5.04          11.0 2018-01-01 01:51:00
4       2.28     6.67      359     5.18          10.9 2018-01-01 02:21:00
...      ...      ...      ...      ...           ...                 ...
32672   1.66     5.26       20     4.62          17.5 2019-11-15 19:19:00
32673   1.75     5.56       38     4.83          17.5 2019-11-15 19:49:00
32674   1.85     5.56       40     4.90          17.5 2019-11-15 20:19:00
32675   1.98     5.56       14     4.92          17.5 2019-11-15 20:49:00
32676   2.08     5.56       26     5.11          17.6 2019-11-15 21:19:00

[32677 rows x 6 columns]

In [117]:
test_data = test_data.set_index('Date')

In [118]:
test_data

                     HS(m)  TP(sec)  DP(deg)  Ta(sec)  Temp(Sfc(c))
Date
2018-01-01 00:21:00   2.30     6.25        9     5.16          11.0
2018-01-01 00:51:00   2.41     6.25      357     5.23          11.0
2018-01-01 01:21:00   2.49     6.25      359     5.24          10.9
2018-01-01 01:51:00   2.12     6.25        0     5.04          11.0
2018-01-01 02:21:00   2.28     6.67      359     5.18          10.9
...                    ...      ...      ...      ...           ...
2019-11-15 19:19:00   1.66     5.26       20     4.62          17.5
2019-11-15 19:49:00   1.75     5.56       38     4.83          17.5
2019-11-15 20:19:00   1.85     5.56       40     4.90          17.5
2019-11-15 20:49:00   1.98     5.56       14     4.92          17.5
2019-11-15 21:19:00   2.08     5.56       26     5.11          17.6

[32677 rows x 5 columns]

In [119]:
test_data.to_csv("testing.csv")

In [87]:
data_values_t = test_data.values
features_t = data_values_t[:,0:]

In [88]:
features_t

array([[ 2.3 ,  6.25,  5.16, 11.  ],
       [ 2.41,  6.25,  5.23, 11.  ],
       [ 2.49,  6.25,  5.24, 10.9 ],
       ...,
       [ 1.85,  5.56,  4.9 , 17.5 ],
       [ 1.98,  5.56,  4.92, 17.5 ],
       [ 2.08,  5.56,  5.11, 17.6 ]])

In [89]:
pred_values = clf.predict(features_t)

In [90]:
pred_values

array([ 73.8003211 ,  63.53254003,  63.53254003, ..., 101.90232412,
       109.78156695, 109.78156695])

In [91]:
from sklearn.metrics import r2_score
r2_score(target_values, pred_values)

0.16740718183037717

In [92]:
from sklearn.svm import SVR

In [93]:
clf1 = SVR(kernel='rbf', degree=3, gamma='scale', coef0=0.0, tol=0.001, C=1.0, epsilon=0.1, shrinking=True, cache_size=200, verbose=False, max_iter=-1)

In [94]:
clf1.fit(features, values, sample_weight=None)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [95]:
pred_values_1= clf1.predict(features_t)

In [96]:
from sklearn.metrics import r2_score
r2_score(target_values, pred_values_1)

0.15174665200702075

In [97]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [98]:
clf2 = RandomForestRegressor(n_estimators=100, criterion='mse', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features='auto', max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [99]:
clf2

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [100]:
clf2.fit(features, values, sample_weight=None)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [101]:
pred_values_2 = clf2.predict(features_t)

In [102]:
pred_values_2

array([ 96.11,  76.68,  88.02, ...,  28.07,  70.3 , 132.75])

In [103]:
from sklearn.metrics import r2_score
r2_score(target_values, pred_values_2)

0.03757831256487432